<section id="home" class="parallax-section">
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1><%= t "home.title" %></h1>
        <h2><%= t "home.clean_and_simple" %></h2>
        <%= link_to t("home.find_tables"), tables_path, class: "smoothScroll btn btn-default" %></li>
      </div>
    </div>
  </div>
</section>
